### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend
*.mak
*.bmarks
*.cscope_file_list
*.cbp
# generated directories

bin/
obj/
build/
debug/
release/
codeblocks/

###  ###

*.save

### Test files ###

test_files/
